:root{
blue:#87CEEB;
black:#130f40;
light-color:#666;
box-shadow:0. 5rem 1rem regb(0,0,0,.1);
border:1rem solid rgba(0,0,0,.1);
outline:.1rem solid rgba(0,0,0,.1);
outline-hover:.1rem solid var(--black); 
}

*{
font-family:verdana;
margin:0; padding:0;
box-sizing: border-;
outline: none; border:none;
text-decoration: none;
text-transform:capitalize;
transition: all .2s linear;
}

html{
font-size:62.5%;
overflow-x:hidden;
scroll-behaviour:smooth;
scroll-padding-top:7rem;
}


body{
background:#eee;
}

section{
padding:2rem 9%;
}

.heading{
text-align: center;
padding:1rem 0;
padding-bottom: 3rem;
font-size: 3.5rem;
color:var(--black);
}

.heading span{
background-color:#00008B;
color:#fff;
display: inline-block;
padding:5rem 4rem;
clip-path:polygon(100% 0,92% 50%,100% 99%,0% 100%,6% 50%,0% 0%);

}



.header{
position:fixed;
top:0; left:0; right:0;
z-index:1000;
display:flex;
align-items:center;
justify-content:space-between;
padding:2rem 9%;
background:#fff;
box shadow: var(--box-shadow):
}

.header .navbar a{
font-size:1.7rem;
margin:0 1rem;
color:var(--black);
}

.header .navbar a:hover{
color:#1E90FF;
}

button{
background-color:#2196f3;
color:#fff;
padding: 10px 20px;
border-radius: 25px;
}

button:hover{
background-color:#191970;
}
.home{
display: flex;
align-items: center;
justify-content: center;
background:url(pamplate1.png) no-repeat;
max-width:1260px;  /*--8160 pixels.*/
height:480px;
background-position: center;
background-size:cover;
padding-top: 27rem;
padding-bottom: 13rem;
}


.home .content{
text-align: center;
width:60rem;
}


.contact .dcon{
height:60px;
width:1240px;
background-color:#151E3D;
text-align:center;
font-size:22px;
color:#ffffff;
}

.contact .dcon:hover{
box-shadow: 10px 10px;
}

.contact .con{
height:80px;
width:1240px;
background-color:#000000;
text-align:center;
font-size:22px;
color:#ffffff;
}